# pnpm does not automatically install peer dependencies unless auto-install-peers is set to true
# these dependencies are needed by direct dependencies and are installed with them, but due to
# versioning conflicts or problems with the packages themselves they sometimes do not come installed and raise errors
# we want to auto install the peer dependencies if this is the case
auto-install-peers=true
# pnpm install fails on dependency issues unless strict-peer-dependencies is set to false
# This is defaulted to false in newer versions of pnpm that are not currently used by rules js
strict-peer-dependencies=false
